.box:nth-child(n) {
    background-color:#cccccc;
}

.box:nth-child(2n) {
    background-color: #aaaaaa;
}

.box {
    height: 190px;
    padding: 8px;
}

span {
    margin: 0 50px;
    padding: 0 50px;
}

p {
    text-align: center;
}